################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/SuperHeroAPI/SuperHeroAPI/.vs/SuperHeroAPI/FileContentIndex/10707485-08c7-4573-a80f-cfd9d74d8f5c.vsidx
